<h1 class="mt-5">Pipes <small>Angular</small></h1>
<hr>

<div class="row">
    <div class="col">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th> Variable </th>
                    <th> Pipe </th>
                    <th> Salida </th>
                </tr>

            </thead>
            <tbody>
                <!-- uppercase -->
                <tr>
                    <td> {{ name }} </td>
                    <td> uppercase </td>
                    <td> {{ name | uppercase }} </td>
                </tr>
                <!-- uppercase -->

                <!-- lowercase -->
                <tr>
                    <td> {{ name }} </td>
                    <td> lowercase </td>
                    <td> {{ name | lowercase }} </td>
                </tr>
                <!-- lowercase -->

                <!-- slice -->
                <tr>
                    <td> {{ name }} </td>
                    <td> slice:5 </td>
                    <td> {{ name | slice:5 }} </td>
                </tr>

                <tr>
                    <td> {{ name }} </td>
                    <td> slice:0:5 </td>
                    <td> {{ name | slice:0:5 }} </td>
                </tr>

                <tr>
                    <td> {{ array }} </td>
                    <td> slice:1:5 </td>
                    <td> {{ array | slice:1:5 }} </td>
                </tr>
                <!-- slice -->

                <!-- number -->
                <tr>
                    <td> {{ PI }} </td>
                    <td> number </td>
                    <td> {{ PI | number }} </td>
                </tr>

                <tr>
                    <td> {{ PI }} </td>
                    <td> number:'1.0-0 </td>
                    <td> {{ PI | number:'1.0-0' }} </td>
                </tr>

                <tr>
                    <td> {{ PI }} </td>
                    <td> number:'3.0-0 </td>
                    <td> {{ PI | number:'3.0-0' }} </td>
                </tr>

                <tr>
                    <td> {{ PI }} </td>
                    <td> number:'.0-2 </td>
                    <td> {{ PI | number:'.0-2' }} </td>
                </tr>
                <!-- number -->

                <!-- percent -->
                <tr>
                    <td> {{ percentage }} </td>
                    <td> percent </td>
                    <td> {{ percentage | percent }} </td>
                </tr>
                <!-- percent -->
            </tbody>
        </table>
        <hr>



        <!-- Slice ngFor -->
        <br>
        <h4>Slice ngFor</h4>
        <ul>
            <li *ngFor="let item of array | slice:5:20"> {{ item }} </li>
        </ul>
        <!-- Slice ngFor -->
    </div>



</div>